# Core Libraries
pandas
numpy
scipy

# Machine Learning
scikit-learn
xgboost
statsmodels
prophet

# Explainability
shap

# Visualization
matplotlib
seaborn
plotly

# Utilities
openpyxl
joblib
tqdm

# Jupyter
jupyter
notebook